<?xml version="1.0"?>
<ruleset name="WordPress coding standards for Happy Prime plugins">
	<file>.</file>

	<rule ref="HappyPrime"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="shadow-terms"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="ShadowTerms"/>
				<element value="shadow_terms"/>
			</property>
		</properties>
	</rule>
</ruleset>
