includes:
  - vendor/happyprime/coding-standards/phpstan.neon.dist

parameters:
  level: 7
  paths!:
    - plugin.php
    - includes
    - tests
  excludePaths:
    - vendor/*
    - node_modules/*
  ignoreErrors:
    -
      # wp_update_post() accepts a WP_Post, but the stubs type $postarr as an array shape.
      message: '#^Parameter \#1 \$postarr of function wp_update_post expects array\{#'
      identifier: argument.type
      path: tests/*
